body {
  font-family: 'Monserrat',sans-serif;
  font-size: 16px;
  background: #fff;
  font-weight: 200;
  height: 100%;
  margin: 0;
}

.home--container {
  width: 100%;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  margin: 0 auto;
  color: #222;
  text-align: center;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.home--title {
  display: flex;
  justify-content: center;
  font-size: 2.0rem;
  font-size: calc(1rem + 7vw);
  line-height: 1.6rem;
  line-height: calc(.8rem + 6vw);
  font-weight: 900;
  font-family: 'Saira Extra Condensed', sans-serif;
  padding: .5rem;
  padding: calc(.15rem + 1vw);
}

.home--subtitle {
  padding-bottom: .5rem;
  font-size: 1rem;
  font-size: calc(.45rem + 2.5vw);
}

@media screen and (min-width: 500px)
{
  .home--title {
    font-size: 3.2rem;
    line-height: 2.8rem;
    padding: .5rem;
  }
  .home--subtitle {
    font-size: 1.2rem;
  }
}

.home--divider {
  margin: 1rem auto;
  width: 60%;
  max-width: 300px;
  border-top: 1px solid #eee;
}
.home--cv-item {
  padding: .25rem .5rem;
  font-size: .8rem;
  line-height: 1.1rem;
  color: #666;
}

@media screen and (min-width: 500px) {
  .home--cv-item {
    font-size: .85rem;
    line-height: 1.2rem;
  }
}

a,
a:focus,
a:visited,
a:active 
{
  display: inline-block;
  color: #fc7703;
  text-decoration: none;
  outline: none;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: transform .1s ease-in-out;
  transition: transform .1s ease-in-out;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

a:hover {
  color:#ffa14f;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}